.our-service {
  padding: 0.7rem;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  height: 6rem; /* Adjust height as needed */
  border-bottom: 1px solid white; /* Add border-bottom to separate sections */
}

.service-description {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font: normal;
}

.title:hover {
  margin-left: 2rem;
  transition: 0.3s ease;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out, padding 0.1s ease-out;
  color: white;
}

.description.open {
  max-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description p {
  margin: 0;
  line-height: 1.6;
}

.title.active {
  color: #007bff;
}

.title.active + .description {
  display: block;
}